:root {
    --accent1: #774936;
    --accent2: #D69F7E;
    --primary-colour: #eeebbd;
    --secondary-colour: #050609;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    background-color: inherit;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: 14pt;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

body {
    display: flex;
    flex-direction: column;
    accent-color: var(--accent1);
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    margin: auto;
    min-width: 85%;
    max-width: 85%;
}

b {
    background-color: transparent;
}

.menuButton {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--accent2);
    color: var(--secondary-colour);
    box-shadow: inset 0px 0px 6px var(--accent1);
    border: 2px outset var(--accent1);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    overflow: auto;
    padding: 2px;
}

.menuButton:hover,
.menuButton:focus {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

a.button,
button {
    display: inline-flex;
    background-color: var(--accent2);
    color: var(--secondary-colour);
    box-shadow: inset 0px 0px 6px var(--accent1);
    border: 2px outset var(--accent1);
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 6px;
    align-items: center;
    justify-content: center;
}

button:disabled {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    cursor: not-allowed;
}

button:focus,
button:hover {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

details {
    display: flex;
    flex-direction: column;
    cursor: default;
    width: 100%;
}

details > summary {
    background-color: var(--primary-colour);
    box-shadow: inset -1px 1px 4px var(--secondary-colour);
    border-top: 2px inset var(--secondary-colour);
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 6px;
}

details > summary:focus,
details > summary:hover,
details[open] > summary:focus,
details[open] > summary:hover {
    background-color: var(--secondary-colour);
    color: var(--accent2);
}

details[open] > summary {
    background-color: var(--accent2);
    border-radius: 0px 0px 8px 4px;
    font-size: 1.05em;
    padding-bottom: 2px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

h1 {
    align-self: center;
    border-bottom-style: dotted;
    border-bottom-width: 4px;
    border-color: var(--accent1);
    margin: 4px 0px 4px 0px;
    padding: 8px 12px 4px 12px;
    font-size: 1.7em;
}

h2 {
    box-shadow: 0px 0px 3px var(--secondary-colour);
    border-left: 6px solid var(--secondary-colour);
    border-radius: 4px;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    font-size: 1.5em;
}

h3 {
    box-shadow: 0px 0px 4px var(--accent1);
    border-left: 6px solid var(--accent1);
    border-radius: 4px;
    margin: 4px 0px 4px 6px;
    padding-left: 4px;
    font-size: 1.3em;
}

hr {
    border: 2px ridge var(--accent1);
    border-radius: 4px;
    width: 100%;
}

input {
    border-color: var(--secondary-colour);
    border-style: outset;
    accent-color: var(--accent2);
}

input::placeholder {
    color: var(--accent1);
}

input[type='file'] {
    border-style: none;
}

input[type='number'] {
    border-color: var(--accent1);
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}

input[type='number']:focus {
    color: var(--secondary-colour);
    background-color: var(--accent2);
}

kbd {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    border: 1px solid var(--accent1);
    border-radius: 3px;
    border-bottom-width: 2px;
    font-weight: 600;
    padding: 1px 2px;
}

option:checked {
    background-color: var(--accent2);
}

select {
    background-color: var(--primary-colour);
    border-color: var(--accent1);
    border-style: inset;
    border-width: 2px;
    border-radius: 4px;
    color: var(--secondary-colour);
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: separate;
}

td,
th {
    border-style: inset;
    border-width: 2px;
    border-radius: 2px;
    padding-inline: 4px;
    text-align: center;
}

td {
    border-color: var(--secondary-colour);
    font-weight: 600;
}

td:focus,
td:hover,
th:focus,
th:hover {
    border-color: var(--accent1);
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    border-style: solid;
}

th {
    background-image: linear-gradient(45deg, var(--accent2), transparent 20% 80%, var(--accent2));
    border-color: var(--accent1);
    color: var(--accent1);
    font-size: 1.05em;
    font-weight: 600;
}

tbody > tr:nth-of-type(even) > td {
    background-color: var(--accent1);
    color: var(--primary-colour);
}

tbody > tr:nth-of-type(even) > td:focus,
tbody > tr:nth-of-type(even) > td:hover {
    border-color: var(--accent1);
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    border-style: solid;
}

textarea {
    border-color: var(--secondary-colour);
    border-style: outset;
    border-width: 2px;
    border-radius: 4px;
}

textarea::placeholder {
    color: var(--accent1);
}

.box {
    display: flex;
    flex-direction: row;
    border-color: var(--accent1);
    border-radius: 4px;
    border-style: outset;
    border-width: 2px;
    padding: 2px;
}

.box:focus,
.box:hover {
    background-color: var(--accent1);
    color: var(--primary-colour);
}

@keyframes tooltipFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.95;
    }
}

.modalButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modalButton {
    border-radius: 4px;
}

.modalText {
    overflow: auto;
}

.modalWindow {
    display: none;
    flex-direction: column;
    align-self: center;
    text-align: center;
    box-shadow: 0px 0px 10px 2px var(--secondary-colour);
    border: 4px inset var(--accent1);
    border-radius: 4px;
    padding: 4px;
    max-height: 50vh;
    position: fixed;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltipParent {
    position: relative;
}

.tooltipParent:focus > .tooltip,
.tooltipParent:hover > .tooltip {
    display: flex;
    animation: tooltipFadeIn 0.7s ease;
}

.tooltip {
    display: none;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    opacity: 0.95;
    border-color: var(--accent1);
    border-radius: 4px;
    border-style: outset;
    border-width: 2px;
    padding: 3px;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 10;
    min-width: min-content;
    width: max-content;
    max-width: 75vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: left;
    text-wrap: wrap;
}

.tooltip::before {
    content: 'i';
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    border-radius: 4px;
    margin-right: 4px;
    height: 100%;
    padding-inline: 0.5em;
    font-style: italic;
    font-weight: 600;
}

#author {
    display: block;
}