:root {
    --accent1: #774936;
    --accent2: #D69F7E;
    --primary-colour: #eeebbd;
    --secondary-colour: #050609;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    background-color: inherit;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: 14pt;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

*::selection {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

body {
    display: flex;
    flex-direction: column;
    accent-color: var(--accent1);
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    margin: auto;
    min-width: 85%;
    max-width: 85%;
}

a.button,
button {
    display: inline-flex;
    background-color: var(--accent2);
    color: var(--secondary-colour);
    border-color: var(--accent1);
    border-radius: 7px 0px 7px 0px;
    border-style: outset;
    cursor: pointer;
    padding: 1px;
    align-items: center;
    justify-content: center;
}

button:disabled {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    cursor: not-allowed;
}

button:focus,
button:hover {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

details {
    cursor: default;
    width: 100%;
}

details > summary {
    background-color: var(--accent2);
    border-radius: 7px 0px 7px 0px;
    box-shadow: 1px 1px 2px var(--secondary-colour);
    cursor: pointer;
    padding: 2px;
}

details > summary:focus,
details > summary:hover {
    background-color: var(--secondary-colour);
    color: var(--accent2);
}

@keyframes detailsOpening {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0%)
    }
}

details[open] {
    animation: detailsOpening 0.7s ease-out;
}

details[open] > summary {
    border-bottom-color: var(--secondary-colour);
    border-bottom-style: inset;
    border-bottom-width: 2px;
    font-size: 1.05em;
    font-weight: 600;
    padding-bottom: 2px;
    position: sticky;
    top: 0px;
}

details[open] > summary:focus,
details[open] > summary:hover {
    border-bottom-color: var(--accent2);
}

h1 {
    align-self: center;
    border-bottom-style: dotted;
    border-bottom-width: 4px;
    border-color: var(--accent1);
    font-size: 1.5em;
    padding: 0px 4px;
    margin-bottom: 3px;
}

h1:focus,
h1:hover {
    border-bottom-style: solid;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

h2 {
    border-bottom-style: ridge;
    border-bottom-width: 3px;
    border-bottom-color: var(--secondary-colour);
    border-radius: 0px 0px 7px 0px;
    padding-left: 4px;
    font-size: 1.4em;
}

hr {
    border-color: var(--accent1);
    width: 100%;
}

input {
    border-color: var(--secondary-colour);
    border-style: outset;
    accent-color: var(--accent2);
}

input[type='file'] {
    border-style: none;
}

input[type='number'] {
    border-color: var(--accent1);
    border-radius: 7px 0px 0px 0px;
    text-align: center;
    font-weight: 600;
}

input[type='number']:focus {
    color: var(--secondary-colour);
    background-color: var(--accent2);
}

kbd {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    border: 1px solid var(--secondary-colour);
    border-radius: 3px;
    box-shadow: 1px 1px 1px var(--secondary-colour);
    font-weight: 600;
    margin-right: 2px;
    padding: 0px 2px;
}

option:checked {
    background-color: var(--accent2);
}

select {
    background-color: var(--primary-colour);
    border-color: var(--accent1);
    border-style: inset;
    border-width: 2px;
    color: var(--secondary-colour);
    overflow: auto;
}

table {
    width: 100%;
}

td,
th {
    border-color: var(--secondary-colour);
    border-style: inset;
    border-width: 2px;
    padding: 2px;
    text-align: center;
}

td {
    border-radius: 0px 0px 5px 0px;
    font-weight: 600;
}

td:focus,
td:hover {
    background-color: var(--accent2);
    color: var(--secondary-colour);
}

th {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    border-radius: 5px 5px 0px 0px;
    font-size: 13pt;
    font-weight: bold;
}

th:focus,
th:hover {
    background-color: var(--accent2);
    color: var(--secondary-colour);
}

textarea {
    border-color: var(--secondary-colour);
    border-style: outset;
    border-width: 2px;
}

textarea::placeholder {
    color: var(--accent1);
}

.box {
    display: flex;
    flex-direction: row;
    border-color: var(--accent1);
    border-radius: 7px 0px;
    border-style: outset;
    border-width: 2px;
    padding: 2px;
}

.box:focus,
.box:hover {
    background-color: var(--accent1);
    color: var(--primary-colour);
}

@keyframes tooltipFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.95;
    }
}

.tooltipParent {
    position: relative;
}

.tooltipParent:hover > .tooltip,
.tooltipParent:focus > .tooltip {
    display: flex;
    animation: tooltipFadeIn 0.7s ease;
}

.tooltip {
    display: none;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    opacity: 0.95;
    border-color: var(--accent1);
    border-radius: 7px 0px 7px 0px;
    border-style: outset;
    border-width: 2px;
    padding: 3px;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 10;
    min-width: min-content;
    width: max-content;
    max-width: 75vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: left;
    text-wrap: wrap;
}

.tooltip::before {
    content: 'i';
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    border-radius: 7px 0px 7px 0px;
    margin-right: 4px;
    height: 100%;
    padding-inline: 0.5em;
    font-style: italic;
    font-weight: 600;
}